<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Cafe Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="jumbotron">
        <h1>HELLO CAFE</h1>
        <p class="lead" th:text="#{label.member.function}"></p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/new" th:text="#{page.createMember}">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/members" th:text="#{page.members}">회원 목록</a>
        </p>
        <p class="lead" th:text="#{label.cafe.function}">카페 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/cafes/new" th:text="#{page.registerCafe}">카페 등록</a>
            <a class="btn btn-lg btn-dark" href="/cafes" th:text="#{page.cafeList}">카페 목록</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>