<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div class="py-5 text-center">
    <h2 th:text="#{page.addMenu}">메뉴 추가</h2>
  </div>
  <form th:action="@{/cafes/addMenu}" th:object="${menuAddForm}" method="post">
    <div class="form-group">
      <label th:for="name" th:text="#{label.cafe.menu.name}">메뉴명</label>
      <input type="text" th:field="*{name}" class="form-control" placeholder="메뉴명을 입력하세요">
    </div>
    <div class="form-group">
      <label th:for="price" th:text="#{label.cafe.menu.price}">가격</label>
      <input type="text" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
    </div>
    <div class="form-group">
      <label th:for="type" th:text="#{label.cafe.menu.type}">메뉴 종류</label>
      <select th:field="*{type}" class="form-control">
        <option value="" th:text="#{label.cafe.menu.type}">메뉴 종류</option>
        <option th:each="type : ${T(hruler.portfolio.domain.cafe.Type).values()}"
                th:value="${type}"
                th:text="${type}">option
        </option>
      </select>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" th:text="#{button.save}">저장</button>
  </form>
  <br/>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- container -->

</body>
</html>