<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div class="py-5 text-center">
    <h2 th:text="#{page.cafeList}">카페 목록</h2>
  </div>
  <div class="row">
    <div class="col">
      <form th:object="${cafeSearchDto}" class="form-inline">
        <div class="form-group mb-2">
          <input type="text" th:field="*{searchInfo}" class="form- control" placeholder="검색 정보를 입력하세요."/>
        </div>
        <div class="form-group mx-sm-1 mb-2">
          <select th:field="*{searchStandard}" class="form-control">
            <option value="">검색</option>
            <option th:each="status : ${T(hruler.portfolio.dto.SearchStandard).values()}"
                    th:value="${status}"
                    th:text="${status}">option
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary mb-2">검색</button>
      </form>
    </div>
    <div class="col">
      <button class="btn btn-primary float-end"
              onclick="location.href='registerCafeForm.html'"
              th:onclick="|location.href='@{/cafes/new}'|"
              type="button" th:text="#{page.registerCafe}">카페 등록</button>
    </div>
  </div>

  <hr class="my-4"/>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th th:text="#{label.cafe.name}">카페 이름</th>
        <th th:text="#{label.cafe.city}">도시</th>
        <th th:text="#{label.cafe.street}">거리</th>
        <th th:text="#{label.cafe.zipcode}">우편번호</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="cafe : ${cafes}">
        <td th:text="${cafe.id}"></td>
        <td th:text="${cafe.name}"></td>
        <td th:text="${cafe.address?.city}"></td>
        <td th:text="${cafe.address?.street}"></td>
        <td th:text="${cafe.address?.zipcode}"></td>
        <td>
          <a th:href="@{/cafes/{cafeId}/detail (cafeId=${cafe.id})}" class="btn btn-primary"
             role="button" th:text="#{button.detail}">상세보기</a>
        </td>
        <td>
          <a href="#" th:href="@{/cafes/{cafeId}/edit (cafeId=${cafe.id})}" class="btn btn-primary"
             role="button" th:text="#{button.change}">수정</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div th:replace="fragments/footer :: footer"/>
</div><!-- /container -->

</body>
</html>