<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>카페 이름</th>
        <th>도시</th>
        <th>주소</th>
        <th>우편번호</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="cafe : ${cafes}">
        <td th:text="${cafe.id}"></td>
        <td th:text="${cafe.name}"></td>
        <td th:text="${cafe.address?.city}"></td>
        <td th:text="${cafe.address?.street}"></td>
        <td th:text="${cafe.address?.zipcode}"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div th:replace="fragments/footer :: footer"/>
</div><!-- /container -->

</body>
</html>